.card-grid {
    /*fully cover page */
    min-height: 100vh;
    display:grid;
    padding: 20px;
    justify-content: center;
    justify-items: center;

    /* between each purchase items */
    grid-gap: 10px;

    background-color: lightgreen;
}

.cart-item {
    width:200px;
    height: 200px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);  
    display: grid;
    align-content: center;

    text-align: center;

    
    border-radius: 80px;
    background-color: yellowgreen;
}


.cart-item img{
    width: 90px;
}