<!-- Cart -->
<div class='card-grid'>
  
  <h2>Total Price is: ${{totalPrice}}</h2>  
  <h2>You have added these items! </h2>

  <button (click)="emptyCart()">Empty Your Cart</button>
  <br>
  
  <div class="cart-item" *ngFor="let item of items">
    <p>
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{item.pokeID}}.png"
        alt="PokeIMG" />
    </p>
    <p>Name: {{item.name}}</p>
    <p>Price: ${{item.price}}</p>
    <p>Qty: {{item.qty}}</p>
  </div>
  <br>
</div>
<!-- END of Cart -->