/* You can add global styles to this file, and also import other style files */

/* Base style*/

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  }

body {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial; */
  font-family: 'Tahoma';
  background-color: #f1faee;


}


