<form [formGroup] ="profileForm" (ngSubmit)="onSubmit()">

    <label for="poke-name">Pokemon Name: </label>
    <input id="poke-name" type="text" formControlName="pokeName">
<button type="submit" [disabled]="!profileForm.valid">Search</button>
  
  </form>



  <div class="pokemon-grid">
    <div class="box {{pokemon.types[0].type.name}}" *ngFor="let pokemon of pokemons">
        <img [src]="pokemon.sprites.front_default" alt="Pokemon default image">
                <!-- binding my src to pokemon -->

        <h3>{{pokemon.name}}</h3>
        <p>
            <b>Type: </b> {{pokemon.types[0].type.name}}
        </p>
        <p>
            <b>Height: </b> {{pokemon.height}}
        </p>

        <p>
            <b>Health: </b> {{pokemon.stats[0].base_stat}}
        </p>

        <!-- <button (click)="addToCart(pokemon)">Add To Cart</button> -->


    </div>



</div>